In [ ]:
Heroes of Pymoli
Observation 1. There are many more male players than female players.
Observation 2. Some players made multiple purchases.
Obsercation 3. 11 players didnot want to disclose their gender or marked it as other.

In [3]:
import pandas as pd
import numpy as np
import json

In [4]:
data_file_pd = pd.read_json('purchase_data.json')
data_file_pd.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
total_Players = data_file_pd["SN"].nunique()
total_Players_DF = pd.DataFrame({"Total Players": [total_Players]})
total_Players_DF = total_Players_DF[["Total Players"]]

total_Players_DF = total_Players_DF.round(2)
total_Players_DF

   Total Players
0            573

In [6]:
unique_Items = data_file_pd["Item ID"].nunique()
unique_Items

183

In [7]:
avg_Price = data_file_pd["Price"].mean()
avg_Price

2.931192307692303

In [8]:
number_Purchases = data_file_pd["Item Name"].count()
number_Purchases

780

In [9]:
total_Revenue = data_file_pd["Price"].sum()
total_Revenue

2286.3299999999963

In [10]:
unique_Items = data_file_pd["Item ID"].nunique()
avg_Price = data_file_pd["Price"].mean()
number_Purchases = data_file_pd["Item Name"].count()
total_Revenue = data_file_pd["Price"].sum()

purchasing_Analysis_DF = pd.DataFrame({"Number of Unique Items": [unique_Items],
                                      "Average Price": [avg_Price],
                                      "Number of Purchases": [number_Purchases],
                                      "Total Revenue": [total_Revenue]})

purchasing_Analysis_DF = purchasing_Analysis_DF[["Number of Unique Items",
                                                "Average Price",
                                                "Number of Purchases",
                                                "Total Revenue"]]

purchasing_Analysis_DF = purchasing_Analysis_DF.round(2)
purchasing_Analysis_DF

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           2.93                  780        2286.33

In [11]:
avg_Price = data_file_pd["Price"].mean()
avg_Price

2.931192307692303

In [12]:
gender_data_df = data_file_pd["Gender"].value_counts()
gender_data_df

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [13]:
gender_Total = data_file_pd["Gender"].count()
gender_Total

780

In [14]:
male_Count_df = data_file_pd.loc[data_file_pd["Gender"] == "Male"]
male_Count_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [15]:
male_Total = male_Count_df["Gender"].count()
male_Total

633

In [16]:
female_Count_df = data_file_pd.loc[data_file_pd["Gender"] == "Female"]
female_Count_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
22,11,Female,11,Brimstone,2.52,Deural48
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25

In [17]:
female_Total = female_Count_df["Gender"].count()
female_Total

136

In [18]:
Other_df = data_file_pd.loc[data_file_pd["Gender"] == "Other / Non-Disclosed"]
Other_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
209,33,Other / Non-Disclosed,157,"Spada, Etcher of Hatred",2.21,Frichistasta59
244,21,Other / Non-Disclosed,183,Dragon's Greatsword,2.36,Tyaerith73
267,33,Other / Non-Disclosed,65,Conqueror Adamantite Mace,1.96,Frichistasta59
276,12,Other / Non-Disclosed,128,"Blazeguard, Reach of Eternity",4.00,Aillycal84

In [19]:
other_Total = Other_df["Gender"].count()
other_Total

11

In [21]:
percent_Male = male_Total / gender_Total
percent_Male

0.81153846153846154

In [22]:
percent_Female = female_Total / gender_Total
percent_Female

0.17435897435897435

In [23]:
percent_Other = other_Total / gender_Total
percent_Other

0.014102564102564103

In [27]:
gender_group = data_file_pd.groupby('Gender', as_index=True).agg({'SN': pd.Series.nunique})
gender_group['Percentage'] = gender_group['SN'] / total_Players * 100
gender_group.columns = ['Total Count','Percentage']
gender_group = gender_group[['Percentage','Total Count']]

gender_group.round({'Percentage':2})

                       Percentage  Total Count
Gender
Female                      17.45          100
Male                        81.15          465
Other / Non-Disclosed        1.40            8